body{
	margin: 0px;
	padding: 0px;	
/*	border: 0px;*/
	overflow: hidden;
	width: 100%;
	height: 623px;
	background-color: #EBEBEB;
	font-family: "\5FAE\8EDF\6B63\9ED1\9AD4", Arial;
	color: #5E6A71;
	font-size: 18px;
	border: 1px solid #808080;
}

.DivTitle	{
	width: 100%; 
	height: 99px; 
	border-bottom: 1px solid #AAAAAA;  	
}

.DivIconOuter {
	float:left; 
	width: 80px;	
	height: 100px; 	
	font-size: 90px; /*IE*/ 
	line-height : 125px; /*Chrome*/
	margin-left: 13px;
}

.DivIconOuter span {
	position: absolute;
	top: 14px;
	left: 22px;
	width: 64px; 
	height: 64px; 
	background-image: url(Images/portal_b.png); 
	background-repeat: no-repeat; 	
	/*vertical-align : middle;*/

}

.DivTextAreaTitle {
	color: black; 
	font-size: 18px; 
	font-weight: bold; 
	margin-top: 25px;
}
.DivTextAreaContent	{
	color: black; 
 }

.buttonSytle {
	width: 125px; 
	float: right; 
	
	margin-top: 25px; 
	margin-right: 13px;
	font-size: 16px;	
}

#ProductDivTitle{}
#ProductDivIconOuter{}
#ProductDivIcon{}
#ProductDivTextAreaTitle{}
#ProductDivTextAreaContent{}

#ProductDivList{
	width: 100%;
	height: 213px;
	border-bottom: 1px solid #AAAAAA; 
	overflow: auto;
}

#ProductDivList_Table{
	width: 100%;
	margin: 0px; 
	padding: 0px;
	border-collapse: collapse;
}

#ProductDivList_Table th{
	padding: 3px;
	background-color: #555555;
	vertical-align: middle;
	color: white;
	text-align: left;
	font-size: 16px;
	border-left: 1px solid #AAAAAA;
}
/*
#ProductDivList_Table th + th {
    border-left: 1px solid black;
}*/
/*
.ProductDivList_Item{
	background-color: #E5EBEC;
}*/

.ProductDivList_TableContent{
	background-color: #e5ebd8;	
}

.TableTd_WaitIcon{
	width: 30px; height: 30px;
	background-image: url(Images/img_waiting_b.gif);
	background-repeat: no-repeat;	
}

.TableId_ProductIcon{
	width: 36px; height: 36px;	
	background-repeat: no-repeat;			
	vertical-align: middle;
}

.TableTd_CenterAlign{
	text-align: center;
}
.TableTd{
	height: 50px;
	line-height: 50px;
	padding: 0 0 0 6px;
	color: black;
	font-size: 16px;
	vertical-align: middle;
	border-bottom: 1px solid #AAAAAA; 	
}

#ProductDivAbout{
	width: 100%;	
	font-size: 15px;
	color: black;
	margin: 0px 0 0 19px;
	height: 25px;
	line-height: 25px;
}
.TableTd_containWaitIcon{}

#ProductDivDescription{
	margin: 0px 0 0 19px;
	width: 100%;
	height: 188px;
	overflow-y: scroll;		
	color: black; 
}
#ProductDivButtom{	
	border-top: 1px solid #AAAAAA; 
	width: 100%;
	height: 63px;		
}

#ProgressArea{
	float: left;	
	margin-left: 25px;
	margin-top: 25px;	
	font-size: 15px;
	color: black;	
}

#ProgressText{
	margin-top: 13px;
	width: 30%;	
}
#progressbar{
	width: 80%;
	height: 12px;			
}


/*EULA*//*
#EulaDivTextArea{
	width: 100%;
	height: 340px;
	overflow-y: scroll;	
	border-bottom: 1px solid #AAAAAA; 	
}*/

#EulaHtml{
	width: 100%;
	height: 425px;	
	border-bottom: 1px solid #AAAAAA; 	
}
#AutoUpdateCheckDiv{
	margin-top: 25px;
	margin-left: 25px;
}